{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="container mt-5" style="max-width:500px;">

<h2 class="text-center mb-4">
Reset Password
</h2>

<form method="POST">

    <input
        type="text"
        name="otp"
        class="form-control mb-3"
        placeholder="Enter OTP"
        required>

    <input
        type="password"
        name="password"
        class="form-control mb-3"
        placeholder="New Password"
        required>

    <button class="btn btn-success w-100">
        Reset Password
    </button>

</form>

</div>

{% endblock %}